.content-block {
  @include padding(3rem, x, 3rem, x);
  margin-left: auto;
  margin-right: auto;

  @include bp($SCR_MEDIUM) {
    @include padding(4rem, x, 4rem, x);
  }

  @include bp($SCR_LARGE) {
    @include padding(6rem, x, 6rem, x);
  }

  &#{&}--columned {
    @include bp($SCR_LARGE) {
      display: flex;
      align-items: flex-start;
    }

    > div {
      @include bp($SCR_LARGE) {
        width: 50%;
      }

      &:first-child {
        @include bp($SCR_LARGE, max-width) {
          margin-bottom: 2rem;
        }

        @include bp($SCR_LARGE) {
          margin-right: 8rem;
        }
      }
    }

    > .content-block {
      padding: 0;
    }
  }

  &#{&}--narrow {
    max-width: 960px;
  }

  &.squish {
    padding: 0;

    &-top {
      padding-top: 0;
    }

    &-bottom {
      padding-bottom: 0;
    }
  }

  // remove padding top when 2 content-blocks are adjacent.
  + #{&} {
    padding-top: 0;
  }

  // .template-home & {
  //   &:nth-child(even) {
  //     background-color: $COLOR_WHITE;
  //   }

  //   &:nth-child(odd) {
  //     border-color: darken($COLOR_LIGHT, 3%);
  //     border-width: 1px 0;
  //     border-style: solid;
  //   }
  // }

  &__img {
    width: 100%;
  }

  // &__heading {
  // 	color: $COLOR_NOVELLO;

  //   &::after {
  //     content: '';
  //     display: block;
  //     margin-top: .3em;
  //     height: 2px;
  //     width: 7em;
  //     max-width: 80%;
  //     background-color: $COLOR_NOVELLO;
  //   }
  // }
}