.contact-us {
  &__intro {
    text-align: center;
    margin-bottom: 2em;

    @include bp($SCR_MEDIUM) {
      margin-bottom: 4em;
    }
  }

  &__inner {
    @extend .landing-section__inner;
  }

  &__content {
    @extend .landing-section__content;
  }

  &__img-frame {
    @extend .landing-section__img-frame;
  }

  &__img-container {
    @extend .landing-section__img-container;

    &#{&} {
      padding-top: percentage(6 / 6);
    }
  }

  &__img {
    @extend .landing-section__img;
  }
}