body {
  margin: .5em;
  font-family: Helvetica, Arial, sans-serif;
}

select {
  font-size: 16px;
  appearance: none;
  padding: .5em 1.625em .5em .5em;
  background-image: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiPgo8dGl0bGU+YXJyb3ctZG93bjwvdGl0bGU+CjxwYXRoIGQ9Ik0xNiA1LjVsLTMtMy01IDUtNS01LTMgMyA4IDh6Ij48L3BhdGg+Cjwvc3ZnPgo=');
  background-position: right center;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 10px;
  border-radius: 0;
  background-color: #f1f1f1;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  margin-bottom: .4em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: .5em;
  border: 1px solid #222;
  
  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
  
  .form-group {
    &:not(:last-of-type) {
      margin-bottom: .8em;
    }  
  }
  
  .total {
    border: 1px solid #222;
    padding: .5em;
    min-width: 100px;
    background-color: #f1f1f1;
  }
}