.download-examples {
  float: right;
  display: flex;
  margin-bottom: 4rem;

  @include bp($SCR_TINY, $until: $SCR_MEDIUM) {
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 2rem;
    max-width: 200px;
  }

  @include bp($SCR_MEDIUM) {
    margin-left: 4rem;
    margin-bottom: 2rem;
    max-width: 320px;
  }

  @include bp($SCR_LARGE) {
    max-width: 420px;
  }

  &__link {
    @include layered-shadow;
    text-decoration: none;

    &:first-of-type {
      margin-right: 2rem;

      @include bp($SCR_TINY, $until: $SCR_MEDIUM) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__img {

  }

  &__text {
    display: block;
    text-align: center;
    padding: 1rem;
    color: $COLOR_WHITE;
    background-color: $COLOR_DETAIL_ORANGE;

    @include bp($SCR_SMALL, max-width) {
      font-size: .8em;
    }
  }
}