/**
 * COMPONENT: FOOTER
 *
 */
.footer {
  @include padding(2rem, x, 2rem, x);
  font-size: .8em;
  background-color: lighten($COLOR_DARK, 5%);
  color: $COLOR_WHITE;

  @include bp($SCR_MEDIUM) {
    @include padding(3rem, x, 3rem, x);
  }

  @include bp($SCR_LARGE) {
  }

  &__inner {
    @include bp($SCR_MEDIUM) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    @include bp($SCR_MEDIUM, max-width) {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $COLOR_CONCRETE;
    }
  }

  &__nav-list {
    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }

  &__nav-item {
    &:not(:last-of-type) {
      margin-bottom: .3em;
    }
  }

  &__nav-link {

  }

  &__company {
    @include bp($SCR_MEDIUM) {
      text-align: right;
    }
  }

  &__company-item {
    color: $COLOR_GREY;

    &:not(:last-of-type) {
      margin-bottom: .3em;
    }
  }
}