/**
 * COMPONENT: FORM
 *
 */
.form {
  $parent: &;

  &__group {
    display: flex;
    flex-direction: column-reverse;

    &#{&}--contact {
      align-items: flex-start;

      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    &#{&}--iq {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      @include bp($SCR_SMALL) {
        width: 50%;
        margin-bottom: 1rem;

        &:nth-child(odd) {
          #{$parent}__radio-label,
          #{$parent}__select-container {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &__label {
    display: inline-block;
    text-transform: uppercase;
    font-size: .7em;
    background-color: $COLOR_GREY;
    padding: .4em .8em;
    color: $COLOR_NOVELLO;
    font-weight: $WEIGHT_BOLD;
    letter-spacing: 1px;
    border-top-left-radius: ($RADIUS * 3);
    border-top-right-radius: ($RADIUS * 3);
    align-self: flex-start;
  }

  &__select-container {
    position: relative;
    border: 1px solid $COLOR_NOVELLO;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      right: 10px;
      margin-top: 1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid $COLOR_DARK;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  &__input,
  &__textarea,
  &__select {
    display: block;
    width: 100%;
    background: none;
    padding: 1rem;
    border: 1px solid $COLOR_NOVELLO;

    &:focus {
      border-color: $COLOR_FOCUS_ORANGE;

      + label {
        background-color: $COLOR_FOCUS_ORANGE;
        color: $COLOR_WHITE;
      }
    }
  }

  &__textarea {
    min-height: 15rem;
    resize: none;
  }

  &__select {
    padding: 1rem 3.5rem 1rem 1.5rem;
    border: none;
    appearance: none;
  }

  &__radio {
    @extend %hidden-input;

    &:checked + #{$parent}__radio-label::before {
      background-color: $COLOR_FOCUS_ORANGE;
    }
  }

  &__radio-label {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: darken($COLOR_LIGHT, 6%);
    border-radius: $RADIUS;
    cursor: pointer;
    flex-grow: 1;
    line-height: $LINEHEIGHT_DEFAULT;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 5em;
      background-color: $COLOR_WHITE;
      border: 5px solid $COLOR_WHITE;
      box-shadow: 0 0 0 1px darken($COLOR_LIGHT, 10%);
      margin-right: 1rem;
      flex-shrink: 0;
    }
  }
}