/**
 * COMPONENT: HEADER CONTACT
 *
 */
.header-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__number-email {
    margin-top: 1rem;

    @include bp($SCR_LARGE) {
      display: flex;
      font-size: 1.2em;
    }
  }

  &__number,
  &__email {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon {
      width: 1.6rem;
      margin-right: .5rem;
    }
  }

  &__email {
    margin-bottom: .5rem;

    @include bp($SCR_LARGE) {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }
}
