.mous-cover {
  @include transition(opacity .75s ease-in-out);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $COLOR_MOUS_GREEN;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $LAYER_COVER;
  pointer-events: none;
  opacity: 0;

  &.is-active {
    opacity: 1;
  }

  &__img {
    @include transition(transform .75s ease-in-out);
    width: 100%;
    max-width: 600px;

    .is-active & {
      transform: scale(0.5) translateZ(0);
    }
  }
}