// COLOURS
$COLOR_NOVELLO: #3B4475;
$COLOR_NOVELLO_LIGHT: lighten($COLOR_NOVELLO, 30%);;
$COLOR_NOVELLO_LIGHTER: lighten($COLOR_NOVELLO, 60%);;
$COLOR_NOVELLO_DARK: darken($COLOR_NOVELLO, 5%);;
$COLOR_DETAIL_ORANGE: #E58910;
$COLOR_FOCUS_ORANGE: #f5a132;
$COLOR_CONCRETE: #605E5E;
$COLOR_TAN: #B7ABA0;
$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #000000;
$COLOR_LIGHT: #FBFBFB;
$COLOR_DARK: #222222;
$COLOR_GREY: #e1dfe1;